xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Home
xXx TTYL xXx
xXx META xXx
<meta name="description" content="infoforcefeed main site, militant suckless">
xXx TTYL xXx
xXx CONTENT xXx
<p>Pick your battles.</>

<ul>
    <li><a href="/projects.html">Projects &rsaquo;</a></li>
    <li><a href="/talks.html">Talks &rsaquo;</a></li>
    <li><a href="http://meta.infoforcefeed.org/">Tracker &rsaquo;</a></li>
</ul>

<p>Hit us up on <a href="irc://irc.freenode.net/#infoforcefeed">IRC.</a></p>
xXx TTYL xXx
