xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Home
xXx TTYL xXx
xXx META xXx
<meta name="description" content="infoforcefeed main site, militant suckless">
xXx TTYL xXx
xXx CONTENT xXx
<p>Looking for other <code>#infoforcefeed</code> shit? Check out:
    <ul>
        <li><a href="http://infoforcefeed.shithouse.tv/">The link aggregator.</a></li>
        <li><a href="http://meta.infoforcefeed.org/">The idea/event tracker.</a></li>
    </ul>
</p>
<p>Pick your battles.</>

<ul>
    <li><a href="/other_cults.html">Other Cults &rsaquo;</a></li>
    <li><a href="/about.html">About &rsaquo;</a></li>
    <li><a href="/projects.html">Projects &rsaquo;</a></li>
    <li><a href="/talks.html">Talks &rsaquo;</a></li>
    <li><a href="http://meta.infoforcefeed.org/">Tracker &rsaquo;</a></li>
</ul>

<p>Hit us up on <a href="irc://irc.freenode.net/#infoforcefeed">IRC.</a></p>
xXx TTYL xXx
