xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Other Cults
xXx TTYL xXx
xXx BREADCRUMBS xXx
    Other Cults
xXx TTYL xXx
xXx CONTENT xXx
<p>Other cults we're into:</p>
<ul>
    <li><a href="https://twitter.com/dekisu/lists/merveilles">merveilles</a>: Fuck any color that isn't black<li>
    <li><a href="http://cat-v.org/">Cat-V</a>: Random Contrarian Insurgent Organization<li>
    <li><a href="http://cock.li/">cock.li</a>: Some kind of weird group of people centered around email hosting with shitty domain names.<li>
    <li><a href="http://suckless.org/">Suckless</a>: Software that sucks less<li>
    <li><a href="http://feeltrain.com/">Feel Train</a>: Reintroducing serendipity to the internet.<li>
    <li><a href="http://lhs.nu/">LHS</a>: LHS is a ragtag band of programmers from Lund, determined to create new things, useful and useless alike.<li>
    <li><a href="https://twitter.com/search?q=%23TEAMVASTMOUNTAIN&src=typd&vertical=default&f=tweets">#TEAMVASTMOUNTAIN</a>: I don't even know. Possibly dead?<li>
    <li><a href="https://twitter.com/search?q=%23anidevtwitter&src=typd&vertical=default&f=tweets">#anidevtwitter</a>: <a href="https://twitter.com/QuadPiece">Quad's</a> cult of anime-themed developers<li>
    <li><a href="https://www.dyne.org/">dyne.org</a>: "Dyne.org Digital Community and Free Software Foundry." I think they're just discordian software developers.<li>
    <li><a href="http://cargocollective.com/">Cargo Collective</a>: "Cargo is a personal publishing platform aimed at creating accessible tools and a networked context to enhance the exposure of talented individuals on the Internet."<li>
</ul>
xXx TTYL xXx
